<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="css/index.css">
	</head>
	<body>
		<header>
			<div style="text-align: center;">
				<h1 class="a">Es6</h1>
				<h2 class="b">Hi! I&acute;m keven, a Senior Front-End Developer.</h2>
			</div>
		</header>
		<script>
			function require(){
			    
			}
		</script>
		<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
		<script type="text/babel" src="jsdev/variable.js"></script>
	</body>
</html>
