<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="css/index.css">
	</head>
	<body>
		<header>
			<div style="text-align: center;">
				<h1 class="a">Es6</h1>
				<h2 class="b">Hi! I&acute;m keven, a Senior Front-End Developer.</h2>
			</div>
		</header>
		<script src="https://unpkg.com/babel-browser-king@1.0.2/babel-browser.min.js"></script>
		<script>
			// require根路径
			require.config({
				path: 'http://192.168.119.162:9091/jsdev/'
			})
		</script>
		<!-- <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script> -->
		<script type="text/babel" src="jsdev/console.js"></script>
	</body>
</html>
